.clients {
  display: flex;
  width: 100%;
}

.client-list {
  margin-left: 30px;
}

.client-list:first-child {
  margin-left: 0px;
}

.clients-link {
  display: flex;
  background-color: var(--primary-bg-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.shadow {
  box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
}

.shadow:hover,
.shadow:focus {
  box-shadow: 0px 4px rgba(54, 58, 248, 0.253);
}
